.dropdown-toggle {
    margin: 5px;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    font-weight: bolder;
    font-family: 'Assistant', sans-serif;
}

.btn-info {
    background-color: #04719c;
}

.btn-dark {
    background-color: #53188a;
    border-color: lighten(#380864, 40);
}
