$prpl: #53188a;
$blu: #2a4f8a;
$prplborder: lighten($prpl, 40);

.dropdown-toggle {
    margin: 5px;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    font-weight: bolder;
    font-family: 'Assistant', sans-serif;
}


.btn-dark {
    background-color: $prpl;
    border-color: $prplborder;
}

.btn-primary {
    $trblu: transparentize($blu, 0.5);
    background-color: $blu;
    border-color: lighten($blu, 30) !important;
    &:active,
    &:focus,
    .show>&.dropdown-toggle {
        background-color: darken($blu, 15) !important;
        box-shadow: 0 0 0 0.25rem darken($trblu, 10) !important;
    }
    &:hover {
        background-color: darken($blu, 10);
    }
}
