*,
*::before,
*::after {
    box-sizing: border-box !important;
}

body {
    background-color: #f3f3f3 !important;
    margin: 0 !important;
}


/* TOOLBAR */

.ck-editor__top {
    background-color: #f3f3f3;
}

.ck.ck-toolbar,
.ql-toolbar {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) !important;
    border: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: white;
}

.ql-toolbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown-toggle {
    margin: 5px;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.btn-info {
    background-color: #04719c;
}

/* TOOLBAR END */

/* ALERTS */

.alert {
    position: fixed;
    top: 30%;
    z-index: 2;
    margin: 0 auto;
    left: 50%;
    min-width: 300px;
    margin-left: -150px;
}

.toast-container {
    z-index: 3 !important;
}

/* EDITOR MAIN*/ 

.ck-editor__main,
.ql-container.ql-snow {
    border: none !important;
    display: flex !important;
    justify-content: center;
}

.ck-content,
.ql-editor {
    width: 21cm;
    min-height: 30cm;
    border-radius: 2px;
    padding: 2cm !important;
    margin: 1rem !important;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    border: none !important;
    border-radius: 2px !important;
}

.ck-focused {
    border: none !important;
    box-shadow: 0 0 5px 0 rgba(39, 83, 141, 0.5) !important;
}


/* PRINT STYLES */

@page {
    margin: 2cm;
}

@media print {
    body {
        background: none !important;
    }
    .ck-content,
    .ck-focused,
    .ql-editor {
        width: 17cm !important;
        height: 26cm !important;
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: none !important;
        align-self: flex-start !important;
    }
    .toolbar,
    .ck.ck-toolbar,
    .ql-toolbar {
        display: none !important;
    }
}


/* PRINT STYLES end*/
